

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">phone</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let college of colleges; let i = index">
            
              <th scope="row">{{i +1}}</th>
              <td>{{college.name}}</td>
              <td>{{college.phoneNo}}</td>
              <td>{{college.email}}</td>
        </tr>
     
    </tbody>
  </table>
