<div class="container">
    <form *ngIf="fields.length > 0" [formGroup]='departmentForm' class="border border-warning px-5 py-4 mt-md-5 rounded" (submit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-8">
                <label for="selectInput">Field</label>
                <select formControlName="field" class="form-control form-control-lg">
                  <option selected>Choose Field...</option>
                  <option *ngFor="let field of fields" [value]="field._id">
                      {{field.name}}
                  </option>
                </select>
                
              </div>
            <div class="form-group col-md-8">
              <label for="inputName">Department Name</label>
              <input type="text" class="form-control" id="inputName" formControlName="name" placeholder="Department name">
            </div>
            <!-- <div class="form-group col-md-6">
              <label for="inputEmail">Semester</label>
              <input formControlName="semester" type="number" class="form-control" id="inputEmail" placeholder="Enter semester 1,2,3...">
            </div> -->


        </div>
        
        <button type="submit" class="btn btn-primary">add department</button>

    </form>
</div>

<div  *ngIf="fields.length > 0">
    <div *ngFor="let field of fields">
        {{field.name}}
    </div>
    
</div>

<div class="" *ngIf="departments.length > 0">
    <div *ngFor="let dept of departments">
        {{dept.name}}
    </div>
    
</div>


