<div class="container ">
    <div class="card p-md-4 shadow-lg mt-md-3    ">
        <div class="card-header shadow">
            <h3 class="text-center">Add Department</h3>
        </div>
    
    
        <form [formGroup]='departmentForm' class="border border-light bg-light px-5 py-4 mt-md-5 rounded shadow" (submit)="onSubmit()">
    
            <div class="form-row">
    
                    <div class="form-group" *ngFor="let field of fields">
                        <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" formControlName="field" name="optradio">{{field.name}}
                            </label>
                          </div>
                    </div>
    
                    <div class="form-group col-md-12">
                      <label for="inputName">Department Name</label>
                      <input type="text" class="form-control" id="inputName" formControlName="name" placeholder="Department name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail">Semester</label>
                      <input formControlName="semester" type="number" class="form-control" id="inputEmail" placeholder="Enter semester 1,2,3...">
                    </div>
                    
        
                </div>
            
            <button type="submit" class="btn btn-primary">Add department</button>
    
        </form>
    </div>
</div>
    
    <div  *ngIf="fields.length > 0">
        <div *ngFor="let field of fields">
            {{field.name}}
        </div>
        
    </div>
    
    <div class="" *ngIf="departments.length > 0">
        <div *ngFor="let dept of departments">
            {{dept.name}}
        </div>

    
</div>


