<div class="container">
<form class=" border border-warning px-5 py-3 mt-md-5 rounded">
    <div class="form-row mt-md-2">
        <div class="col-12 py-3">
            <h3 class="text-center">Student Registeration</h3>
            <hr >
        </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">First name</label>
        <input type="text" class="form-control" id="validationDefault01"  required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">email</label>
        <input type="text" class="form-control" id="validationDefault02"  required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="password">password</label>
          <input type="password" class="form-control" id="password" required>
      </div>
      <div class="col-6 ">
        <label for="rollNumber">Roll number</label>
        <input type="text" class="form-control" id="rollNumber" >
      </div>
      <div class="col-6">
        <label for="phoneNumber">Phone Number</label>
        <input type="text"  id="phoneNumber" class="form-control" required>
      </div>
    <div class="col-6 ">
      <label for="field">Field</label>
      <input type="text"  id="field" class="form-control">
    </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault03">City</label>
        <input type="text" class="form-control" id="validationDefault03" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault06">street</label>
        <input type="text" class="form-control" id="validationDefault06" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">State</label>
        <select class="custom-select" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">Zip</label>
        <input type="text" class="form-control" id="validationDefault05" required>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
  </div>