<hr>
<div class="container shadow ">
  <h1 class="text-center bg-light border border-light m-5 p-3 shadow">Students</h1>
  
  <div class=" card m-5  p-4 shadow bg-light">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">phone</th>
              <th scope="col">email</th>
              <th scope="col">rollNO</th>
              <th scope="col">college name</th>
              <th scope="col">address</th>
              <th scope="col">field and branch</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let student of students; let i = index">
                  
                    <th scope="row">{{i +1}}</th>
                    <td>{{student.name}}</td>
                    <td>{{student.phoneNo}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.rollNo}}</td>
                    <td>{{student.collegeName}}</td>
                    <td>{{student.address.street + ', ' +student.address.city + ', ' + student.address.state + ', ' + student.address.zip}}</td>
                    <td>{{student.field + ' - ' + student.branch}}</td>
      
              </tr>
          
          </tbody>
        </table>
  
  </div>

</div>

